<br>
<h4>Welcome to the Meal and Calorie Tracker!</h4>
<br>
<h3>&emsp;<a href="/login">LOG IN</a></h3>
<br>
<h5>If you haven't already, please
  <br><a href="/signup">sign up</a> now and start tracking!</h5>
